<!DOCTYPE html>
    <html>
        <head>
    <meta charset="utf-8">
    <title>Mercado Liebre</title>
    <meta http-equiv="X - UA - Compatible" contect="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />

        </head>
<body>

    <header> 
        <div class="mainheader">
            <div class="mainheader2">

            <div class="logo">
                
            <img src="images/logo-mercado-liebre.svg">
            </div>
            <div class="buscador">
                <input type="text" name="buscar" placeholder="Buscar...">
                <i class="fa fa-search"></i>
            </div>
            </div>
            <p class="mano-peso"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjetas de credito</p>
           
            </div>
            <nav>
                <div class="listas-main">
                    <ul class="ul1">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="ul2">
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </div>
    </nav>
    
        <div class="burger-menu" >
            <i class="fas fa-bars"></i>
            </div>
</header>
    <main>
        <img src="images/img-home-banner.jpg" class="bannerImg">
            <em><h1 class="tamaño">Basado en la ultima visita</h1></em>

            <section>

            <article class="articulo">
                <img width="320" src="images/img-cafetera-moulinex.jpg">
                <div class="interiorArticulo">
               <i class="fas fa-truck"></i>
                <p class="tamañoPrecios">$6.770</p>
                <p class="tamañoDesc">40% off</p>
                <em><h3 class="descripcion">Cafetera Moulinex</h3></em>
            </div>
            </article>
          
            <article class="articulo">
                <img width="320" src="images/img-macbook-pro-2019.jpg">
                <div class="interiorArticulo">
                <i class="fas fa-truck"></i>
                <p class="tamañoPrecios">$230.000</p>
                <p class="tamañoDesc">20% off</p>
                <em><h3 class="descripcion">MacBook Pro 2019</h3></em>
            </div>
            </article>
           
            <article class="articulo">
                <img width="320" src="images/img-samsung-galaxy-s10.jpg">
                <div class="interiorArticulo">
                <i class="fas fa-truck"></i>
                <p class="tamañoPrecios">$70.500</p>
                <p class="tamañoDesc">10% off</p>
                <em><h3 class="descripcion">Samsung Galaxy S10</h3></em>
                </div>
            </article>

            
            <article class="articulo">
                <img width="320" src="images/img-tv-samsung-smart.jpg">
                <div class="interiorArticulo">
                <i class="fas fa-truck"></i>
                <p class="tamañoPrecios">$23.200</p>
                <p class="tamañoDesc">5% off</p>
                <em><h3 class="descripcion">SmartTv Samsung 43"</h3></em>
                </div>
            </article>
        </section>

    <section>
            <em><h1 class="tamaño">Sección de Ofertas</h1></em>

            <article class="articulo">
                <img width="320" src="images/img-cafetera-moulinex.jpg">
                <div class="interiorArticulo">
                <i class="fas fa-truck"></i>
                <p class="tamañoPrecios">$6.770</p>
                <p class="tamañoDesc">40% off</p>
               <em><h3 class="descripcion">Cafetera Moulinex</h3></em>
                </div>
            </article>
        
         <article class="articulo">
                <img width="320" src="images/img-macbook-pro-2019.jpg">
                <div class="interiorArticulo">
                <i class="fas fa-truck"></i>
                <p class="tamañoPrecios">$230.000</p>
                <p class="tamañoDesc">20% off</p>
                <em><h3 class="descripcion">MacBook Pro 2019</h3></em>
            </div>
            </article>
           
            <article class="articulo">
                <img width="320" src="images/img-samsung-galaxy-s10.jpg">
                <div class="interiorArticulo">
                <i class="fas fa-truck"></i>
                <p class="tamañoPrecios">$70.500</p>
                <p class="tamañoDesc">10% off</p>
                <em><h3 class="descripcion">Samsung Galaxy S10</h3></em>
                </div>
            </article>
            
            
            <article class="articulo">
                <img width="320" src="images/img-tv-samsung-smart.jpg">
                <div class="interiorArticulo">
                <i class="fas fa-truck"></i>
                <p class="tamañoPrecios">$23.200</p>
                <p class="tamañoDesc">5% off</p>
                <em><h3 class="descripcion">SmartTv Samsung 43"</h3></em>
                </div>
            </article>
        </section>
    </main>
   
   
    <footer>
        <div class="tarjeta">
        <i class="fas fa-credit-card"></i>
        </div>

        <em><h3>Pagá con tarjeta o en efectivo</h3></em>
        <div><p >Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p></div>
        
        <div class="regalo">
         <i class="fas fa-gift"></i>
        </div>

        <em><h4>Envío gratis desde $ 2.500</p></h4></em>
        <div><p >Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p></div>

        <div class="userIcon">
        <i class="fas fa-user-shield"></i>
        </div>

        <em><h5>Seguridad de principio a fin</h5></em>
        <div><p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p></div>

        <div><p class="copy"> Copyright © 1999-2020 MercadoLiebre S.R.L.</p></div>

      </footer>
   </body>
</html>
